{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      {% for gladiator in gladiators %}
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src="{{ url_for('static', filename=gladiator.get_pagan_static_path()) }}" alt="{{ gladiator.name }} avatar">
          <div class="card-body">
            <h5 class="card-title">{{ gladiator.name }}</h5>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}