{% extends 'base.html' %}

{% block title -%}
Gladiatores
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-text me-5">Gladiator #{{ gladiator['id'] }}</span>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#attributes">Attributes</a>
        <a class="nav-item nav-link" href="#equipment">Equipment</a>
      </div>
    </div>
  </div>
</nav>
<div class="text-center">
  <img class="img-fluid rounded-start" src="{{ url_for('static', filename=gladiator.get_pagan_static_path()) }}"
    alt="{{ gladiator['name'] }}">
  <h1 class="text-dark">{{ gladiator['name'] }}</h1>
  <h2 class="text-muted">{{ gladiator['type'] }}</h2>
</div>
<div id="attributes">
  <h3 class="text-center p-2 bg-dark text-white rounded rounded-3">Attributes</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="100"></th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <td><img class="img-fluid me-2" src="{{ url_for('static', filename='img/attributes/health.svg') }}"
            alt="health">
        </td>
        <td>Health</td>
        <td>{{ gladiator["hit_point"] }} HP</td>
      </tr>
      <tr class="align-middle">
        <td><img class="img-fluid me-2" src="{{ url_for('static', filename='img/attributes/attack.svg') }}"
            alt="attack">
        </td>
        <td>Attack</td>
        <td>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" width="150">Damage</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Deal</td>
                <td>
                  <b>{{ gladiator['attack']['damage']['minimum'] }}-{{ gladiator['attack']['damage']['maximum'] }}
                    damage</b>
                  per hit
                </td>
              </tr>
              <tr>
                <td>Critical hit</td>
                <td><b>{{ gladiator['attack']['criticalHit']['chancePercentage'] }}% of chance</b>
                  to deal <b>{{ gladiator['attack']['criticalHit']['multiplier'] }} time(s)</b> the damage</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr class="align-middle">
        <td><img class="img-fluid me-2" src="{{ url_for('static', filename='img/attributes/defense.svg') }}"
            alt="defense"></td>
        <td>Defense</td>
        <td>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" width="150">Resistance</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Head</td>
                <td><b>{{ gladiator['defense']['resistance']['headReductionPercentage'] }}% reduction</b>
                  of damage</td>
              </tr>
              <tr>
                <td>Upper body</td>
                <td><b>{{ gladiator['defense']['resistance']['upperBodyReductionPercentage'] }}% reduction</b>
                  of damage</td>
              </tr>
              <tr>
                <td>Lower Body</td>
                <td><b>{{ gladiator['defense']['resistance']['lowerBodyReductionPercentage'] }}% reduction</b>
                  of damage</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" width="150">Other</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Evasion</td>
                <td><b>{{ gladiator['defense']['evasionChancePercentage'] }}% chance</b>
                  to dodge an attack (100% reduction)</td>
              </tr>
              <tr>
                <td>Parade</td>
                <td><b>{{ gladiator['defense']['paradeChancePercentage'] }}% chance</b>
                  to block an attack (60% reduction)</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="equipment">
  <div>
    <h3 class="text-center p-2 bg-dark text-white rounded rounded-3">Equipment</h3>
    <h4 class="text-center p-2">Weapon</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="100"></th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Damage</th>
          <th scope="col">Critical</th>
        </tr>
      </thead>
      <tbody>
        {% set weapon = gladiator.equipment.weapon %}
        <tr class="align-middle">
          <td>
            <img class="img-fluid me-2"
              src="{{ url_for('static', filename='img/equipment/{}.svg'.format(weapon.name)) }}"
              alt="{{ weapon['name'] }}">
          </td>
          <td>{{ weapon['name'].replace('-', ' ').capitalize() }}</td>
          <td>{{ weapon['type'].replace('-', ' ').capitalize() }}</td>
          <td>{{ weapon['damage']['minimum'] }}-{{ weapon['damage']['maximum'] }} per hit</td>
          <td>{{ weapon['criticalHit']['chancePercentage'] }}% chance to
            {{ weapon['criticalHit']['multiplier'] }}x </td>
        </tr>
      </tbody>
    </table>
    <h4 class="text-center p-2">Armor</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="100"></th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Head</th>
          <th scope="col">Upper</th>
          <th scope="col">Lower</th>
          <th scope="col">Parade</th>
          <th scope="col">Evasion</th>
        </tr>
      </thead>
      <tbody>
        {% for component in gladiator.equipment.armour %}
        <tr class="align-middle">
          <td><img class="img-fluid me-2"
              src="{{ url_for('static', filename='img/equipment/{}.svg'.format(component.name)) }}"
              alt="{{ component['name'] }}">
          </td>
          <td>{{ component['name'].replace('-', ' ').capitalize() }}</td>
          <td>{{ component['type'].replace('-', ' ').capitalize() }}</td>
          <td>+{{ component['resistance']['headReductionPercentage'] }}%</td>
          <td>+{{ component['resistance']['upperBodyReductionPercentage'] }}%</td>
          <td>+{{ component['resistance']['lowerBodyReductionPercentage'] }}%</td>
          <td>+{{ component['paradeChancePercentage'] }}%</td>
          <td>-{{ component['evasionPenaltyPercentage'] }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
