Dockerfile

.git
.gitignore
.gitpod.yml

.env
.venv/
venv/
*.pyc
**/__pycache__/
.cache/
dist/
build/
*.egg-info/

instance/
**/static/img/pagan
.metrics

requirements-dev.txt
README.md
CONTRIBUTING.md
THANKS.md
