{% extends 'base.html' %}

{% block title %}
  Glossary
{% endblock %}

{% block content %}
  <h1>Colosseum Glossary of Terms</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Definition</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Colosseum</th>
        <td>The name Colosseum (taken from the Latin word 'colosseus' meaning colossal) in reference to the gigantic statue of the Emperor Nero which had been previously erected near the site of the Colosseum.</td>
      </tr>
      <tr>
        <th scope="row">Bisellium</th>
        <td>A richly ornamented seat of honor at the games.</td>
      </tr>
      <tr>
        <th scope="row">Acta Diurna</th>
        <td>The Acta Diurna (meaning Daily Acts) was the Roman daily paper which contained news of gladiatorial contests.</td>
      </tr>
      <tr>
        <th scope="row">Podium</th>
        <td>The podium was the terrace, a broad platform  about 15ft wide, situated at the top of the wall, which surrounded the arena and afforded the best views of the arena. The seating on the podium was moveable seats, or chairs.</td>
      </tr>
      <tr>
        <th scope="row">Gladiatores</th>
        <td>Men trained to fight with weapons against other men in an arena.</td>
      </tr>
      <tr>
        <th scope="row">Arena</th>
        <td>The arena was the area of the Colosseum where the events were held which was separated from the seating areas by a massive wall, faced with marble.</td>
      </tr>
      <tr>
        <th scope="row">Ludus</th>
        <td>Gladiator training school</td>
      </tr>
    </tbody>
  </table>
{% endblock %}